<section class="container">
    <div class="post-info">
        <div class="post-title-box">
            <p class="post-title">Post : <%= @post.title %> by <%= @post.author.name %></p>
            <p class="comment-text">Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></p>
        </div>
        <p><%= @post.text %></p>
    </div>
    <div class="comment-info">
        <% @post.recent_comments.each do |comment| %>
            <div>
                <p>
                    <span>
                        <%= comment.author.name %>:
                    </span>
                    <span>
                        <%= comment.text %>
                    </span>
                </p>
            </div>
        <% end %>
    </div>
    <div class="button-user">
        <%= button_to "Add Comment", new_user_post_comment_path(@post.author, @post), method: :get, class: "button" %>
        <%= button_to "Add Like", new_user_post_like_path(@post.author, @post), method: :get, class: "button" %>
    </div>
</section>
